* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

div#palette {
    background-color: lightyellow;
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    width: 100vw;
    height: 100vh;
}

.square {
    border: 0.5px solid lightcyan;
}

/*.square:hover {
    background-color: yellow;
}*/

.colored {
    background-color: black;
}
